<app-header></app-header>
<div class="flex justify-center items-center flex-col">
    <!-- stringBinding,propertyBindin -->
    <h1 class="text-xl" [id]="id" [attr.data-name]="user">Hello,{{user}}</h1>
    <!-- eventBindingg -->
    <button class="bg-sky-400 px-3 py-2 rounded" (click)="handleClick()"
        (mouseenter)="hansleMouseEnter($event)">Hello</button>
    <input type="
     text" name="" id="" class="px-4 py-2 rounded-md border my-4" placeholder="enter your name..." [(ngModel)]="user">
</div>